/* 声明字体图标 这里一定要注意路径的变化 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1220px;
    margin: 0 auto;
}

/* .all {
    height: 1665px;
} */

.top {
    background-color: #f1f1f1;
    height: 30px;
}

.top_left {
    float: left;
    width: 366px;
}

.top_left ul li {
    float: left;
    margin-top: 4px;
}

.top_right {
    float: right;
}

.top_right ul li {
    float: left;
    margin-top: 4px;
}

/* 选择所有偶数的小li */
.top_right ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666666;
    margin: 9px 15px 0;
}

.arrow-icon::after {
    content: '1';
    font-family: '  ';
}

/* 头部栏 */
.header {
    height: 105px;
    position: relative;
}

.logo {
    position: absolute;
    top: 25px;
}

.logo a {
    display: block;
    width: 200px;
    height: 100px;
    background: url(../images/logo.png) no-repeat;
    font-size: 0;
}

.search {
    position: absolute;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
    left: 346px;
    top: 25px;
    float: left;
}

.search input {
    float: left;
    width: 455px;
    height: 32px;
    padding-left: 10px;
}

.search button {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 70px;
    height: 36px;
    background-color: #b1191a;
    font-size: 16px;
    color: #f1f1f1;
    border: 0px;
}

.hostwords {
    position: absolute;
    left: 346px;
    top: 66px;
}

.hostwords a {
    margin: 0 10px;
}

.shopcar {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #f1f1f1;
    background-color: #f7f7f7;
}

.shopcar::before {
    content: '\e920';
    font-family: 'icomoon';
}

.shopcar::after {
    content: '\e920';
    font-family: 'icomoon';
}

.nav {
    position: relative;
    height: 47px;
    border-bottom: 2px solid #b1191a;
}

.nav .dropdown {
    float: left;
}

.dropdown .dt {
    width: 200px;
    height: 46px;
    line-height: 50px;
    text-align: center;
    background-color: #b1191a;
    font-size: 16px;
    color: #f1f1f1;
}

.dropdown .dd {
    width: 200px;
    height: 475px;
    line-height: 25px;
    text-align: left;
    background-color: #f53253;
    font-size: 16px;    

}

.dropdown .dd ul li {
    position: relative;
    height: 29px;
    line-height: 29px;
    margin-left: 2px;
    padding-left: 10px;
}

.dropdown .dd ul li a {
    display: block;
    margin: 2px 5px;
    font-size: 14px;
    color: #fff;
}

.dropdown .dd ul li:hover {
    background-color: #f7f7f7;

}

/* 改变不了颜色 */
.dropdown .dd ul li :hover {
    color: #c81623;

}

.navitems ul {
    float: left;
}

.navitems .dt {
    float: left;
    width: 100px;
    height: 46px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #f1f1f1;
}

/* .navitems {
    position: absolute;
    top: 0px;
    left: 600px;
} */


.recom {
    height: 165px;
    background-color: gray;
}

.recom-img {
    width: 200px;
    height: 100px;
    background-color: gray;
}

/*footer */
.footer {
    height: 400px;
    background-color: #f5f5f5;
}

.f-service {
    height: 100px;
    padding-top: 30px;
    margin: auto;
    border-bottom: 1px solid gray;
}

.f-service ul li {
    width: 25%;
    height: 50px;
    padding-left: 35px;
    float: left;
}

.f-service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background: url('../images/icons.png') no-repeat -252px -2px;

}

.f-service ul li h4 {
    padding-top: 2px;
    padding-left: 55px;
    font-size: 16px;
}

.f-service ul li p {
    padding-top: 2px;
    padding-left: 55px;
}

.f-help {
    height: 200px;
    padding-top: 20px;
    padding-left: 50px;
    margin: auto;
    border-bottom: 1px solid gray;

}

.f-help dl {
    float: left;
    width: 20%;
}

.f-help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}

.f-wx {
    float: left;
    width: 20%;
    height: 180px;
    padding-left: 30px;
}

.f-wx p {
    font-size: 16px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.f-wx span {
    padding-top: 5px;
    padding-left: 10px;
}

.f-bottom .links {
    text-align: center;
    margin: 20px 0;
}

.f-bottom .copyright {
    text-align: center;
}